<div class="league card">
  <div class="card-header">
    <h2>Create New League</h2>
  </div>
  <form id="new-league-form" class="card-body">
    <label class="form-label" for="leaguename">League Name</label>
    <input type="text" name="league-name" class="form-input" />

    <button type="submit" class="btn">Create</button>
  </form>
</div>

<script src="/js/newLeague.js"></script>