<div class="match card">
  <div class="card-header">
    <h2>Create New Match</h2>
  </div>

  <form id="new-match-form" class="card-body">
    <label class="form-label" for="match-date">Match Date</label>
    <input type="text" name="match-date" class="form-input" />

    <label class="form-label" for="match-home-team">Home Team ID</label>
    <input type="text" name="match-home-team-id" class="form-input" />

    <label class="form-label" for="match-away-team">Away Team ID</label>
    <input type="text" name="match-away-team-id" class="form-input" />

    <label class="form-label" for="match-winner">Winner</label>
    <input type="text" name="match-winner" class="form-input" />

    <button type="submit" class="btn">Create</button>
  </form>
</div>

<script src="/js/newMatch.js"></script>